<section>
<h1 class = "spaced-out header">About SoundPad</h1>
  <div class="aboutSection col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
	<p>The SoundPad Lab uses 3D audio to create assistive technology, universally accessible interfaces, multi-modal interfaces, and to discover patterns in big data. We also research the perceptual requirements necessary to render realistic spatial sound using headphones in virtual environments. </p>
	</br>
	<p>Our research interests include Human Computer Interaction in the contexts of 3D Audio Processing, Multi-modal Interfaces, Psycho-acoustics, and Virtual Environments.</p>
  </div>
</section>
