<section  class="container ng-cloak">

    <!--Header div and corresponding logic-->
    <div ng-hide="$state.is('core.home')" class="row header-wrapper">
        <header  ng-controller="HeaderController" ng-init="init()" ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    </div> 
    <!--Insert specific view-->
    <section class="row top-row" ui-view></section>

    <!--Footer with links to contact page and team page-->
    <div ng-hide="$state.includes('admin')" id="footer" class="row">
        <span id="footer-nav" class="col-md-12 col-sm-12 col-xs-12">
            <a ng-click="goToContact()">Contact Us</a>
            <a ng-click="goToTeam()">The Team</a>
        </span>
        <span id="rights" class="col-md-12 col-sm-12 col-xs-12">
            <a href="http://www.ufl.edu">&copy; University of Florida</a>,
            <a href="http://www.cise.ufl.edu">Department of Computer & Information Science & Engineering</a>
        </span>
    </div>

</section>
