<section id="splash" ng-controller="HomeController">

    <!--Main logo-->
    <div class="row">
		<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
			<img style="margin-top:5em; margin-bottom: 5em;" src='/images/logo.png'>
		</div>
    </div>

    <!--Tiles for different pages-->
    <div id="splash_content" class="row">
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
			<div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12">
				<a ng-click='goToAbout()'><p>About</p></a>
				<img src='/images/About.jpg'>
			</div>
        </div>
        <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
			<div ng-click='goToAudio()'  class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
				<p>Audio</p>
				<img src='/images/Audio.jpg'>
			</div>
        </div>
     	<div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
			<div ng-click='goToResearch()' class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
				<p>Research</p>
				<img src='/images/Research.jpg'> 
			</div>
        </div>
        <div class="col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
			<div ng-click='goToPublications()' class="col-md-12 col-md-offset-0 col-sm-6 col-sm-offset-6">
				<p>Publications</p>
				<img src='/images/Publication.jpg'>
			</div>
        </div>
        <div class="col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
			<div ng-click='goToEvents()' class="col-md-12 col-sm-6">
				<p>Moments</p>
				<img src='/images/Moments.jpg'>
			</div>
        </div>
    </div>
    
</section>
