<div>
  <h3 class="col-md-12 text-center">Edit Participant <span ng-bind="participant.name"></span></h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
    <form name="participantForm" ng-submit="update(participantForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">Name</label>
          <input type="text" id="Name" name="Name" class="form-control" ng-model="participant.name" placeholder="Name" required>
          <div ng-messages="participantForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="phoneNumber">Phone number</label>
          <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" ng-model="participant.phone_number" placeholder="Phone number" required>
          <div ng-messages="participantForm.phoneNumber.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone number is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="participant.email" placeholder="Email"  required>
          <div ng-messages="participantForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
		<div class="form-group" id='#datetimepicker14' show errors>
		  <label for="dob">Date of Birth</label>
			<div class='input-group date' id='datetimepicker14'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar">
					</span>
				</span>
			</div>
          <div ng-messages="participantForm.dob.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Date of Birth is required</p>
          </div>
		</div>
		<div class="form-group" id='#datetimepicker15'>
		  <label for="paid">Last Paid</label>
			<div class='input-group date' id='datetimepicker15'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar">
					</span>
				</span>
			</div>
		</div>
        <div class="form-group" show-errors>
          <label for="gender">Gender (M/F)</label>
            <input type="text" id="username" name="username" class="form-control" ng-model="participant.gender" placeholder="gender">
        </div>

        <div class="form-group" show-errors>
          <label for="username">Card Info</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="participant.card_info" placeholder="card info"  >
        </div>

        <div class="form-group" show-errors>
          <label for="username">Comment</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="participant.comment" placeholder="participant comments"  >
        </div>

        <div class="form-group" show-errors>
          <label for="subject">Subject Id</label>
          <input type="number" id="subjectid" name="subid" class="form-control" ng-model="participant.subject_id" placeholder="Subject Id" >
        </div>

        <div class="form-group" show-errors>
          <label for="HRTF">HRTF assigned:</label>
          <input type="text" id="subjectid" name="subid" class="form-control" ng-model="participant.HRTF_assigned" placeholder="HRTF" >
        </div>

        <div class="form-group" show-errors>
          <label for="firstName">Requires contact lenses?</label>
          <div class="radio">
            <label><input type="radio" name="optradio" ng-model="participant.contact_lenses" ng-value="true">Yes</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" ng-model="participant.contact_lenses" ng-value="false">No</label>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="firstName">Requires corrective lenses?</label>
          <div class="radio">
            <label><input type="radio" name="optradio1" ng-model="participant.corrective_lenses" ng-value="true">Yes</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio1" ng-model="participant.corrective_lenses" ng-value="false">No</label>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="firstName">Passed vision test?</label>
          <div class="radio">
            <label><input type="radio" name="optradio2" ng-model="participant.vision_test" ng-value="true">Yes</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio2" ng-model="participant.vision_test" ng-value="false">No</label>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label for="firstName">Passed audiograms?</label>
          <div class="radio">
            <label><input type="radio" name="optradio3" ng-model="participant.took_audiogram" ng-value="true">Yes</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio3" ng-model="participant.took_audiogram" ng-value="false">No</label>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Update Participant</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</div>
