
<section class='aboutSection' style="margin-bottom: 2em; margin-top: 2em; padding-left: 3em;">
  <div class="page-header" style="margin-top: 0;">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="participant.name"></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Participant Name</strong></div>
        <div class="col-md-6" ng-bind="participant.name"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Phone Number</strong></div>
        <div class="col-md-6" ng-bind="participant.phone_number"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="participant.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Gender</strong></div>
        <div class="col-md-6" ng-bind="participant.gender"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Date of Birth</strong></div>
        <div class="col-md-6" id="dob">{{participant.dob}}</div>
      </div>
      <hr/>
      <div class="row" id="lastPaid" >
        <div class="col-md-3"><strong>Last Paid</strong></div>
        <div class="col-md-6" >{{participant.lastPaid}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Card Info</strong></div>
        <div class="col-md-6" ng-bind="participant.card_info"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Comment</strong></div>
        <div class="col-md-6" ng-bind="participant.comment"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Subject Id</strong></div>
        <div class="col-md-6" ng-bind="participant.subject_id"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>HRTF assigned:</strong></div>
        <div class="col-md-6" ng-bind="participant.HRTF_assigned"></div>
      </div>
      <hr/>
      <div ng-show="participant.contact_lenses" class="row">
        <div class="col-md-9"><strong>Requires Contact Lenses</strong></div>
      </div>
      <div ng-show="participant.corrective_lenses" class="row">
        <div class="col-md-9"><strong>Requires Corrective Lenses</strong></div>
      </div>
      <div ng-show="participant.vision_test" class="row">
        <div class="col-md-9"><strong>Took Vision Test</strong></div>
      </div>
      <div ng-show="participant.took_audiogram" class="row">
        <div class="col-md-9"><strong>Took Audiogram</strong></div>
      </div>
      <hr/>
      
    </div>
  </div>
    <div class="tableWrapper">
      <table class="table table-striped table-hover">
        <tr>
          <th>Experiments</th>
          <th></th>
        </tr>
        <tr ng-repeat="experiment in participant.experiments">
          <td>{{experiment.display_name}}</td>
        </tr>
      </table>
    </div>
  </div>
    <div class="tableWrapper">
      <table class="table table-striped table-hover">
        <tr>
          <th>Appointments</th>
          <th></th>
        </tr>
        <tr ng-repeat="appointment in participant.appointments">
          <td>{{appointment.prettyDate}}</td>
        </tr>
      </table>
    </div>

    <div style="
      text-align: center;
      margin-top: 2em;
  ">
      <a class="btn btn-primary" ui-sref="admin.participant-edit({participantId: participant._id})" style="margin-right: 12em;">
        Edit Participant <i class="glyphicon glyphicon-edit" style="margin-left: 1em;"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove();" ng-if="participant._id !== authentication.participant._id">
        Delete Participant <i class="glyphicon glyphicon-trash" style="margin-left: 1em;"></i>
      </a>
    </div>
  </div>
</section>