.teamSection{
	background: rgba(242,246,247,1);
	box-shadow: inset 0 0px 3px;
	border-radius: 10px;
	padding:20px;
}

.header {
	display:block;
	text-align: center;
}

.teamMember{
	display: inline;
	width: 200px;
	float: left;
	margin: 20px;
}

.profileImgContainer{
	overflow:hidden;
	border: 5px solid #23527c;
	border-radius: 10px;
	height: 200px;
	width: 100%;
}

.profileImg {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.name {
	text-align: center;
	width: 200px;
	font-size: 20pt;
	font-size: 0.90vw;
}
#rights a {
  font-size: 0.8em;
  color: #a0a0a0; 
}
